<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href=" {% static 'css/styles.css' %}" rel="stylesheet" />

</head>
<body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">SNetWork</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'articles' %}">Articles</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'profiles' %}">Profiles</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inbox' %}">Inbox</a></li>

                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile' user.id %}">{{ user.username }} |</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

<!---->
<!--    <a href=""></a>|-->
<!--    <a href="">Logout</a>|-->
<!--    <a </a>|-->
<!--    <a href="">Inbox</a>-->
<!---->
<!--    <a href="">Login</a>-->
<!---->

{% block content %}
{% endblock %}

<script src="{% static 'js/backend.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>